# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/

# Flutter
app/.dart_tool/
app/.packages
app/build/
app/.flutter-plugins*
app/android/.gradle/
app/ios/Pods/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
